/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* perform basic reset, normalize css to make every browser reset */
/* use the universal selector "*" to reset it */
* {
    margin: 0;
    padding: 0;
    /* box sizing: change the box model so borders and box are not added to total height or width*/
    box-sizing: border-box;
}

/* properties related to font are inherited */
/* font should be specified in body */
body {
    font-family: "Lato", sans-serif;
    /* project wide font */
    font-weight: 400;
    font-size: 16px;
    /* 1.7 times bigger than line height you would have without this */
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    /* at every point, height of element should be 95% viewport height */
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
        rgba(126, 213, 111, 0.5), 
        rgba(40, 180, 131, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    /* top of image stays on top of container */
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%)
}

.logo-box {
    /* put image where we want */
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;
}

/*
.logo:hover {
    animation: moveInRight 1s ease-out;
}
*/

.text-box {
    position: absolute;
    /* in relation to parent element */
    top: 40%;
    left: 50%;
    /* background-color: red; */
    /* in relation to element itself */
    transform: translate(-50%, -50%)
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    
    /* quick fix for jump up after animation completes */
    /* does not seem to be an issue with current browser */
    /* background-color: red; */
    /* backface-visibility: hidden; */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation: moveInLeft 1s ease-out;

    /* animation-name: moveInLeft; */
    /* animation-duration: 1s; */
    /* animation-timing-function: ease-out; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.5px;

    animation: moveInRight 1s ease-out;
}

/* browsers are optimized for opacity and transform */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    /* 60% {
        transform: rotate(180deg);
    } */

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}